## Introduction

Welcome to world of data science tools

## Data Science Languages
When it comes to data science, several programming languages are commonly used.
Python
R
Julia
SQL

## Data Science Libraries

In the data science ecosystem, there are numerous libraries 

### Python:
- NumPy
- pandas
- Matplotlib
- Seaborn
- scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools

Data Management Tools: include Relational Databases, NoSQL Databases, and Big Data platforms:
MySQL, and PostgreSQL are  and IBM Db2 and SQL Server 
MongoDB and Apache Cassandra are examples of NoSQL databases.
Apache Hadoop and Apache Spark are used for Big Data analytics. 
Data Integration and Transformation Tools: include Apache Airflow and Apache Kafka. 
Data Visualization Tools: include commercial offerings such as Cognos Analytics, Tableau and PowerBI 
Jupyter Notebooks 
RStudio

## Arithmetic Expression Examples

Arithmetic expressions involve mathematical operations such as addition, subtraction, multiplication, and division.

In [1]:
# Print sum and multiplication of given number
a=10
b=10

sum=a+b
mult=a*b

print(sum)
print(mult)

20
100

In [2]:
# Function to convert minutes to hours

minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

120 minutes is equal to 2.0 hours.

## list Objectives

Introduction
Data Science Languages
Data Science Libraries
Data Science Tools
Arithmetic Expression Examples

## Author

This notebook was created by SANDIP BHOSALE